:root
{
   --transparency: 0.85;
   --icon-color: #f3f3f3;
   --icon-width: 50px;
   --icon-height: 50px;

   --transparency-color: 255;
   --font-color: black;

   font-family: Carlito, Sans-serif, Arial;
}

html, body
{
	height: 100%;
	margin: 0;
	color: var(--font-color);
}

.hidden {
	display: none;
}

.container div
{
	position: absolute;
}

.container .background
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.container .background #codeblock
{   
	margin-left: 15px;
}

.container .site
{
	background-color: rgba(var(--transparency-color) ,var(--transparency-color) ,var(--transparency-color) ,var(--transparency));
	height: 100%; 
	width: 100%;
}

.container .site div
{
	position: relative;
}

.container .site .menu
{
	background-color: rgba(var(--transparency-color), var(--transparency-color), var(--transparency-color),var(--transparency));
	height: auto;
	width: 100%;
}

.container .site .menu .title
{
	font-size: 3.2em;
	margin-left: 65px;
	float: left;
	margin-left: 40px;
	margin-top: 5px;
	margin-right: auto;
}

.container .site .menu .items
{
	font-size: 2.7em;
	word-spacing: 16px;
	float: right;
	margin-left: auto;
	margin-top: 10px;
	margin-right: 40px;

	display: block;
}

.container .site .menu .items a
{
	width: var(--icon-width);
	height: var(--icon-height);
	text-align: center;
	line-height: var(--icon-height);
	background-color: var(--icon-color);
	border: 6px solid var(--icon-color);
	border-radius: 100%;
}

.container .site .menu .items a:link,
.container .site .menu .items a:visited
{
	color: var(--font-color);;
	text-decoration: none;
}

.container .site .main .text
{
	margin-top: 20vh;
	text-align: center;
	padding: 18vh 0;
}

.container .site .main .text *
{
	margin: 0 !important;
	overflow: hidden !important;
}

.container .site .main .text #title
{
	font-size: 3.5em;
	margin: 22px;
}

.container .site .main .text #subheading
{
	font-size: 1.5em;	
}

.container .site .statusbar
{
	background-color: rgba(255,255,255,var(--menu-transparency));
	height: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
}


.container .site .statusbar .left
{
	float: left;
	margin-left: 40px;
	margin-right: auto;
	margin-top: 1.5vh;
}

.container .site .statusbar .left .fa-heart
{
	color: red;
}

.container .site .statusbar .right
{
	float: right;
	margin-left: auto;
	margin-right: 40px;
}

.container .site .statusbar .right a:link,
.container .site .statusbar .right a:visited
{
	color: var(--font-color);
}

@media screen and (max-width:540px)
{
	.container .site .menu
	{
		text-align: center;
		display: inline-block;
		justify-content: center;
	}

	.container .site .menu .items,
	.container .site .menu .title
	{
		margin: 0 !important;
		text-align: center !important;
		float: none !important;
		align-self: center;
	}

	.container .site .menu .items
	{
		font-size: 3em;
		word-spacing: 22px;
	}

	.container .site .main .text
	{
		padding: 0vh 0 !important;
	}
}

@media screen and (max-width:560px)
{
	.container .site .statusbar *
	{
		margin: 0 !important;
		text-align: center !important;
		float: none !important;
		align-self: center;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--icon-color: #111;

		--transparency-color: 5;
		--font-color: white;
	}
}