body {
	background-color: #FFF;
}

#codeblock {
	color: #000;
}

#codeblock .red {
	color: #c695c6;
}

#codeblock .blue {
	color: #c695c6;
}

#codeblock .purple {
	color: #f9ae61;
}

#codeblock .yellow {
	color: #99c794;
}

#codeblock .green {
	color: #5fb4b4;
}

#codeblock .orange {
	color: #f9ae58;
}

#codeblock .gray {
	color: #999;
}


@media (prefers-color-scheme: dark) {
	body {
	background-color: #282923;
	}

	#codeblock {
		color: #FFF;
	}

	#codeblock .red {
		color: #f82472;
	}

	#codeblock .blue {
		color: #67d8ef;
	}

	#codeblock .purple {
		color: #ac80fa;
	}

	#codeblock .yellow {
		color: #e7db74;
	}

	#codeblock .green {
		color: #a6e22c;
	}

	#codeblock .orange {
		color: #fd9621;
	}

	#codeblock .gray {
		color: #fd9621;
	}
}