 
@font-face {
  font-family: 'Carlito';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../thirdparty/google-crosextrafonts-carlito-20130920/Carlito-Regular.ttf") format("truetype");
}